[class^="container"],[class^="col"]{
  background-color: rgba(255, 0, 0, 0.3);
  border: 1px solid black;
  min-height: 80px;
}
body{
  font-family: 'Roboto', sans-serif;
}
.debug{
  background-color: rgba(255, 0, 0, 0.3);
  border: 1px solid black;
}
/* hader */
.my_header{
  height: 80px;
}
img{
  max-width: 100%;
}
.my_img_mobile{
  display: none;
  vertical-align: middle;
}
.my_search_icon{
  display: inline-block;
  width: 20px;
  padding-top: 5px;
}
.my_icons{
  padding: 0 10px;
  font-size: 1rem;
  
}
.my_icons_bell{
  padding: 0 10px;
  color: yellow; 
}


/* pagina centrale container */
.my_col_left{
  height: 100%;
  width: 130px;
}
.ls_container{
  height: 100vh;
  width: 100%;
  
}
.my_col_right{
  width: calc(100% - 130px);
  
}
.my_upper_container{
  height:90px;
}
/* da qui inizia la perte interna */
.my_main_content{
  height:calc(100% - 90px);
  overflow-y: scroll;
  /* main contant sta apposto */
}
.my_inside_container{
  height: 100vh;
  /* questa è un altezza di prova  */
}
.my_provvisory{
  width: 100%;
  height: 300px;
}













@media (max-width :576px ) {
  .my_upper_container{
    height: 250px;
  }
  .my_col_left{
    width: 90px;
  }
  .my_col_right{
    width: calc(100% - 90px);
    
  }
  .my_img_desktop{
    display: none;
  }
  .my_img_mobile{
    display: block;
  }
  .my_icons_bell{
    display: block;
    font-size: 1.3rem;
  }
  .my_icons{
    display: none;
  }

  
}